<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <title>First HTML page</title>

</head>

<body>
    <h1>
        Head 1 tag for heading
    </h1>
    <h2>
        Head 2 tag for heading
    </h2>

    <p>Para tags <strong>strong! </strong>
        <em> emphasis !</em>
    </p>
    <p>
        <ul><li>Names:</li>
                <ol>
                    <li>Name1</li>
                    <li>Name2</li>
                </ol>
            <li>City:</li>
                <ol>
                    <li>Pune</li>
                    <li>Mumbai</li>
                </ol>
        </ul>

        <div class="">
            This is div tag used for creating different text blocks
        </div>
    </p>

</body>

</html>
